@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #8159db;
  --color-primary-200: #5b4689;
  --color-primary-100: #a38bd9;
  --color-secondary-500: #1a1b1d;
  --color-secondary-400: #817d8b;
  --color-secondary-300: #b6acce;
  --color-secondary-200: #dad5e5;
  --color-secondary-100: #fbfbfb;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-success: #28a745;
  --color-white: #fff;
  --color-black: #000;

  /* Full Calendar Variables */

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #8159db;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: #5b4689;
  --fc-button-hover-border-color: transparent;
  --fc-button-active-bg-color: #5b4689;
  --fc-button-active-border-color: transparent;
  --fc-border-color: #ccc;
  --fc-event-bg-color: #db8159;
  --fc-event-border-color: transparent;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
}

body {
  display: flex;
  min-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  background: var(--color-white);
}

.fc .fc-toolbar-title {
  font-size: 1.25rem;
}

.fc .fc-scrollgrid {
  border-radius: 6px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  overflow: hidden;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid var(--fc-border-color);
}

.fc-theme-standard td:last-child,
.fc-theme-standard th:last-child {
  border-right: none;
}

.fc-theme-standard tr:last-child td {
  border-bottom: none;
}

.fc-scrollgrid-sync-inner {
  font-weight: 400;
}

.fc-day-today {
  background-color: #e9e2f8 !important;
}

.fc-timegrid-event,
.fc-timegrid-more-link {
  font-size: 12px;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  box-shadow: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.fc .done::after,
.fc .pending::after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 3px;
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: transparent;
}

.fc .done::after {
  background: var(--color-success);
}

.fc .pending::after {
  background: var(--color-danger);
}

.fc-event:focus.done::after,
.fc-event:focus.pending::after {
  background-color: transparent;
}

.dark .fc-day-today {
  background-color: #2d2344 !important;
}

.dark .fc-toolbar-title {
  color: #fff;
}

.dark .fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame {
  color: #fff;
}

.dark {
  --fc-border-color: #333;
  --fc-button-bg-color: #a38bd9;
}
